body
{
background-repeat:no-repeat;
background-attachment:scroll;
background-color:#000000;
background-position:left top;
color:#ffffff;
font-family:arial,helvetica,clean,sans-serif;
font-size:10px;
font-weight:bold;
}


#container
{
    height:1200px;
    width:1700px;
    position:relative;
}

#image
{    
    position:absolute;
    left:0;
    top:0;
}

#black
{
    z-index:100;
    position:absolute;
    left:580px;
    top:320px;
}

#divinity
{
    z-index:100;
    position:absolute;
    left:250px;
    top:235px;
}

#doric
{
    z-index:100;
    position:absolute;
    left:290px;
    top:245px;
    color:red;
}

#lion
{
    z-index:100;
    position:absolute;
    left:380px;
    top:340px;
}

#chantry
{
    z-index:100;
    position:absolute;
    left:380px;
    top:390px;
}

#rata
{
    z-index:100;
    position:absolute;
    left:130px;
    top:455px;
}

#draconis
{
    z-index:100;
    position:absolute;
    left:65px;
    top:600px;
    color:red;
}

#ember
{
    z-index:100;
    position:absolute;
    left:120px;
    top:630px;
    color:red;
}


#grove
{
    z-index:100;
    position:absolute;
    left:230px;
    top:480px;
}

#hoelbrak
{
    z-index:100;
    position:absolute;
    left:480px;
    top:310px;
}

#blue
{   
    z-index:100;
    position:absolute;
    left:290px;
    top:350px;

}

#eternal
{
    z-index:100;
    position:absolute;
    left:290px;
    top:375px;
}

#green
{
    z-index:100;
    position:absolute;
    left:290px;
    top:400px;
}

#red
{
    z-index:100;
    position:absolute;
    left:290px;
    top:425px;
}

#caledon
{
    z-index:100;
    position:absolute;
    left:230px;
    top:400px;
}

#metrica
{
    z-index:100;
    position:absolute;
    left:170px;
    top:385px;
}

#plains
{
    z-index:100;
    position:absolute;
    left:620px;
    top:335px;
}

#wayfarer
{
    z-index:100;
    position:absolute;
    left:530px;
    top:280px;
}

#queens
{
    z-index:100;
    position:absolute;
    left:250px;
    top:280px;
}

#brisban
{
    z-index:100;
    position:absolute;
    left:160px;
    top:350px;
}

#diessa
{
    z-index:100;
    position:absolute;
    left:590px;
    top:295px;
}

#kessex
{
    z-index:100;
    position:absolute;    
    left:210px;
    top:320px;
}
#snowden
{
    z-index:100;
    position:absolute;
    left:450px;
    top:280px;
}

#gendar
{
    z-index:100;
    position:absolute;
    left:320px;
    top:300px;
}

#lornar
{
    z-index:100;
    position:absolute;
    left:430px;
    top:320px;
}

#field
{
    z-index:100;
    position:absolute;
    left:715px;
    top:400px;
}

#harathi
{
    z-index:100;
    position:absolute;
    left:320px;
    top:220px;
}

#dredge
{
    z-index:100;
    position:absolute;
    left:480px;
    top:360px;
}

#blazeridge
{
    z-index:100;
    position:absolute;
    left:740px;
    top:320px;
}

#claw
{
    z-index:100;
    position:absolute;
    left:350px;
    top:380px;
    color:lightblue;
}


#blood
{
    z-index:100;
    position:absolute;
    left:380px;
    top:370px;
}

#iron
{
    z-index:100;
    position:absolute;
    left:645px;
    top:265px;
}

#timberline
{
    z-index:100;
    position:absolute;
    left:430px;
    top:425px;
}

#sparkfly
{
    z-index:100;
    position:absolute;
    left:370px;
    top:460px;
}

#fire
{
    z-index:100;
    position:absolute;
    left:590px;
    top:230px;
}

#mount
{
    z-index:100;
    position:absolute;
    left:430px;
    top:525px;
}

#straits
{
    z-index:100;
    position:absolute;
    left:380px;
    top:550px;
}

#siren
{
    z-index:100;
    position:absolute;
    left:380px;
    top:615px;
    color:red;
}


#bitter
{
    z-index:100;
    position:absolute;
    left:525px;
    top:190px;
    color:red;
}


#frost
{
    z-index:100;
    position:absolute;
    left:525px;
    top:215px;
}

#malchor
{
    z-index:100;
    position:absolute;
    left:300px;
    top:580px;
}

#cursed
{
    z-index:100;
    position:absolute;
    left:280px;
    top:620px;
}

#southsun
{
    z-index:100;
    position:absolute;
    left:280px;
    top:460px;
    color:blue;
}

#heart
{
    z-index:100;
    position:absolute;
    left:360px;
    top:360px;
    color:blue;
}

#edge
{
    z-index:100;
    position:absolute;
    left:230px;
    top:365px;
    color:blue;
}

#dry
{
    z-index:100;
    position:absolute;
    left:115px;
    top:370px;
    color:yellow;
}

#silver
{
    z-index:100;
    position:absolute;
    left:115px;
    top:320px;
    color:yellow;
}

#verdant
{
    z-index:100;
    position:absolute;
    left:75px;
    top:335px;
    color:green;
}

#auric
{
    z-index:100;
    position:absolute;
    left:45px;
    top:405px;
    color:green;
}

#tangled
{
    z-index:100;
    position:absolute;
    left:75px;
    top:420px;
    color:green;
}

#dragon
{
    z-index:100;
    position:absolute;
    left:85px;
    top:460px;
    color:green;
}

#gilded
{
    z-index:100;
    position:absolute;
    left:90px;
    top:355px;
    color:gray;
}

#lost
{
    z-index:100;
    position:absolute;
    left:75px;
    top:290px;
    color:gray;
}

#bloodstone
{
    z-index:100;
    position:absolute;
    left:85px;
    top:310px;
    color:red;
}


#desert
{
    z-index:100;
    position:absolute;
    left:635px;
    top:580px;
    color:purple;
}

#crystal
{
    z-index:100;
    position:absolute;
    left:640px;
    top:615px;
    color:purple;
}

#elon
{
    z-index:100;
    position:absolute;
    left:640px;
    top:695px;
    color:purple;
}

#desolation
{
    z-index:100;
    position:absolute;
    left:650px;
    top:805px;
    color:purple;
}

#domain
{
    z-index:100;
    position:absolute;
    left:755px;
    top:875px;
    color:purple;
}


#progress
{
    position:relative;
    font-size:14px;
    font-weight:normal;
}

